@import "tailwindcss";

:root {
    --primary: #274494;
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}
 
/* @media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}  */

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-start-rgb));
    /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-start-rgb))
    )
    rgb(var(--background-end-rgb)) */
}



@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fade-in {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}


.btn-primary {
    background-color: #4f46e5; /* Tailwind bg-indigo-600 */
    color: #fff; /* Tailwind text-white */
    padding-top: 0.5rem; /* Tailwind py-2 */
    padding-bottom: 0.5rem;
    padding-left: 1rem; /* Tailwind px-4 */
    padding-right: 1rem;
    border-radius: 0.25rem; /* Tailwind rounded */
    transition: all 0.2s;
}

.btn-primary:hover {
    background-color: #3730a3; /* Tailwind hover:bg-indigo-800 */
}

.btn-secondary {
    background-color: #e5e7eb; /* Tailwind bg-gray-200 */
    color: #000; /* Tailwind text-black */
    padding-top: 0.5rem; /* Tailwind py-2 */
    padding-bottom: 0.5rem;
    padding-left: 1rem; /* Tailwind px-4 */
    padding-right: 1rem;
    border-radius: 0.25rem; /* Tailwind rounded */
    transition: all 0.2s;
}

.btn-secondary:hover {
    background-color: #d1d5db; /* Tailwind hover:bg-gray-300 */
}
